{% extends "stampo.htm" %}
{% block title %}QR di {{user.name}}{% endblock %}
{% block content %}
<h2>Lista dei tuoi QuickIt</h2>
{% if quickits %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Titolo</th>
            <th>Id</th>
            <th>Tipo</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for quickit in quickits %}
            <tr>
                <td><a href="/qr_edit/{{quickit.qid}}/1">{{ quickit.title }}</a></td>
                <td>{{quickit.qid}}</td>
                <td><a href="/qr_edit/{{quickit.qid}}/2">{% if quickit.content_type == 1%}Video{% elif quickit.content_type == 2 %}Immagine{% elif quickit.content_type == 3 %}Audio{% elif quickit.content_type == 4 %}URL{%endif%}</a></td>
                <td><a href="/qr/{{ quickit.qid }}"><i class="fas fa-search"></i></a> <a href="/orders/add/{{quickit.qid}}"><i class="fas fa-shopping-cart"></i></a> <a href="/qr_remove/{{quickit.qid}}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Uhm, qui non c'è nulla.</h2>
{% endif %}
{% endblock %}