{% extends "stampo.htm" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="alert alert-primary" role="alert">
    Benvenuto in QuickIt,
    <br>La prima applicazione che ti consente di creare un solido collegamento tra il mondo digitale e quello cartaceo
    <br>Registrati per caricare i tuoi file all’interno dei nostri QR code
    <br>Let’s start!
</div>

<div class="alert alert-primary" role="alert">
    Quickit ti permette di integrare documenti digitali alla tradizionale carta, grazie all’utilizzo di qrcode vergini.
    <br>L’innovazione nasce proprio dalla possibilità che diamo al cliente di inserire i propri documenti su un codice
    qr
    adesivo e quindi di <strong>personalizzarlo</strong>.
    <br>È semplice: inquadra con la telecamera dello smartphone il codice e decidi a quale documento multimediale
    associarlo. <br>Potrai attaccare il tuo adesivo dove preferisci ed avere il file che cerchi a portata di un click.
    <br>Cosa stai aspettando? Rendi concreto il mondo digitale!
</div>
{% endblock %}@