<nav class="navbar navbar-dark bg-dark navbar-static-top">
    <a class="navbar-brand">QuickIt</a>
    {% if user %}
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Azioni
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/profile/quickits">My QR</a>
        <a class="dropdown-item" href="/logout">Logout</a>
    </div>
    {% else %}
    {% if id %}
    <a href="/pre-login/{{id}}" class="btn btn-success">Login</a>
    {% else %}
    <a href="/google/login" class="btn btn-success">Login</a>
    {% endif %}
    {% endif %}
</nav>
